torch
torchvision
torchaudio
numpy
streamlit
Pillow
transformers
sentence-transformers
accelerate
tokenizers
huggingface-hub
safetensors
einops
faiss-cpu
PyPDF2
scipy
scikit-learn
pandas
#xformers
bitsandbytes


# Additional utilities
requests
typing-extensions
STREAMLIT_SERVER_WATCHDOG_POLLING=false
